version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: labshare_app
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: labshare_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: labshare
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"   # <--- jika host sudah memakai 3306, ganti ke "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
